#! /usr/bin/env bash

alias g='git'

alias ga='git add'
alias ga.='git add .'
alias gb='git branch'
alias gc='git checkout'
alias gc*='git checkout "*"'
alias gcb='git checkout -b'
alias gba='git branch --all'
alias gs='git status'
alias gs.='git status .'
alias gt='git commit'
alias gta='git commit --amend'
alias gr='git reset'
alias gr*='git reset "*"'
alias gf='git diff --cached'
alias gpull='git pull --rebase --all'
alias gpush='git push'
alias gp='git pull && git push'
alias g{='git stash -u'
alias g}='git stash pop'
alias gindex-='git update-index --assume-unchanged'
alias gindex+='git update-index --no-assume-unchanged'
alias gm='git merge'
alias gcl='git clean -fxd'
alias gl='git log'

alias gur='git_update_repos'
