# Global gitignore.

## LINUX
# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*


## OSX

Icon
Icon


## R

Rplot.*
Rplots.*
.Rhistory

## VIM
.vim
.nvimlog

*.un~
~*
*~
*.sw*

# Vim
.*.s[a-w][a-z]
Session.vim
.netrwhist

# OS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE stuffs
.idea/
*.iml
.project
.classpath
.settings/
.ipynb_checkpoints/

