#! /usr/bin/env bash

alias reload='RELOAD=1 . ~/.bashrc'
alias bashrc='(cd ~/bin && git pull >/dev/null) ; RELOAD=1 . ~/bin/.bashrc'

####################
# CHANGE DIRECTORY #
####################

# go back
alias b='cd -'
alias cd-='cd -'

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias cd.='cd .'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cd....='cd ../../..'
alias cd.....='cd ../../../..'

# go to the first / last subdirectory
alias cf1='cd "$(ls -d */ | head -n1)"'
alias cf2='cd "$(ls -d */ | head -n2 | tail -n1)"'
alias cf3='cd "$(ls -d */ | head -n3 | tail -n1)"'
alias cf4='cd "$(ls -d */ | head -n4 | tail -n1)"'
alias cf5='cd "$(ls -d */ | head -n5 | tail -n1)"'
alias cf='cf1'

alias cl1='cd "$(ls -rd */ | head -n1)"'
alias cl2='cd "$(ls -rd */ | head -n2 | tail -n1)"'
alias cl3='cd "$(ls -rd */ | head -n3 | tail -n1)"'
alias cl4='cd "$(ls -rd */ | head -n4 | tail -n1)"'
alias cl5='cd "$(ls -rd */ | head -n5 | tail -n1)"'
alias cl='cl1'

# custom directory aliases
alias cg='cd "$GITDIR"'
alias cgm='cd "$GITDIR"'
alias cgg='cd "$GITDIR2"'
alias cgb='cd ~/bin'

# tmp directories
alias ct='cd /tmp'
alias ctt='t=~$(date +%Y-%m-%d_%H%-M-%S) && mkdir /tmp/$t && cd /tmp/$t'


############
# MAKE DIR #
############

alias md='mkdir -p'
alias rd='rmdir'

M () {
	mkdir -p "$1" && cd "$1"
}


###############
# HEAD & TAIL #
###############

alias hh='head'
alias hhh='head -n 9999999999999'
#alias hh1="head -n 1"
#alias hh2="head -n 2"
#alias hh3="head -n 3"
#alias hh4="head -n 4"
#alias hh5="head -n 5"
#alias hh6="head -n 6"
#alias hh7="head -n 7"
#alias hh8="head -n 8"
#alias hh9="head -n 9"
#alias hh10="head -n 10"

alias tt='tail'
alias ttt='tail -n 9999999999999'
#alias tt1="tail -n 1"
#alias tt2="tail -n 2"
#alias tt3="tail -n 3"
#alias tt4="tail -n 4"
#alias tt5="tail -n 5"
#alias tt6="tail -n 6"
#alias tt7="tail -n 7"
#alias tt8="tail -n 8"
#alias tt9="tail -n 9"
#alias tt10="tail -n 10"


##################
# CONDA & PYTHON #
##################

alias sa='source activate'
alias sd='source deactivate'
alias si='conda install -y'
alias mi='mamba install -y'
alias sl='conda info --envs'


########
# EDIT #
########

# Vim
alias V='vim -u ~/bin/.vimrc.light -U NONE -N -i NONE'

# Sublime
alias e='subl'
alias en='subl -n'


########
# OPEN #
########

alias o='open'
alias o.='open .'
alias o..='open ..'
alias o...='open ../..'
alias o....='open ../../..'
alias o.....='open ../../../..'

alias of='open "`ls | head -n 1`"'
alias ol='open "`ls | tail -n 1`"'

alias of1='open "$(ls | head -n1 | tail -n1)"'
alias of2='open "$(ls | head -n2 | tail -n1)"'
alias of3='open "$(ls | head -n3 | tail -n1)"'
alias of4='open "$(ls | head -n4 | tail -n1)"'
alias of5='open "$(ls | head -n5 | tail -n1)"'

alias ol1='open "$(ls -r | head -n1 | tail -n1)"'
alias ol2='open "$(ls -r | head -n2 | tail -n1)"'
alias ol3='open "$(ls -r | head -n3 | tail -n1)"'
alias ol4='open "$(ls -r | head -n4 | tail -n1)"'
alias ol5='open "$(ls -r | head -n5 | tail -n1)"'


###############
# GREP #
###############

alias egrep='egrep --color=auto'
alias grep='grep --color=auto'

alias gg='egrep --color=auto'
alias ggv='egrep --color=auto -v'
alias gg.v='egrep --color=auto -v'
alias ggi='egrep --color=auto -i'
alias gg.i='egrep --color=auto -i'

function gg.r(){
    grep -R "$@" .
}


######
# LS #
######
if [[ $(uname) == 'Darwin' ]]; then
	# sorted by name
	alias l='ls -Galh'
	# sorted by time
	alias l.t='ls -Galhtr'
	# follow symlinks; sorted by name
	alias l.ln='ls -GalhL'
	# sorted by size
	alias l.s='ls -GalhtSr'

else
	# sorted by name
	alias l='ls -Galh --color=auto'
	# sorted by time
	alias l.t='ls -Galhtr --color=auto'
	# follow symlinks; sorted by name
	alias l.ln='ls -GalhL --color=auto'
	# sorted by size
	alias l.s='ls -GalhtSr --color=auto'
fi

#########
# SHELL #
#########

# Misc
alias r='echo "$?" "(${PIPESTATUS[*]})"'
alias c='clear'
alias lns='ln -s'
alias t='touch'
alias x='xargs'
alias x1='xargs -n 1'
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
alias hhtop='htop -u $USER'


# Diff
alias d='diff --color=auto'

# Find
alias f='find'
alias f.='find .'

# Copying
alias cp.a='cp -av'
alias cp.rsync='rsync -a -v -h --stats --progress'

# Sizes
alias df.h='df -h'
alias du.sh='du -sh'
alias 'dh*'='du -sh *'
alias wc.l='wc -l'
alias wcl='wc -l'
alias wc.c='wc -c'
alias wcc='wc -c'


####################
# MAKE & SNAKEMAKE #
####################

alias m='make V=1'
alias m.n='make -n'
alias m.j='make V=1 -j'
alias mj='make V=1 -j'
alias m.t='make V=1 test'
alias mt='make V=1 test'
alias m.e='make edit'
alias me='make edit'
alias m.h='make help'
alias mh='make help'
alias m.b='make -B'
alias m.jb='make -B -j'
alias m.bj='make -B -j'

alias m.c='make -C'
alias m.c.="make -C ."
alias m.c..="make -C .."
alias m.c...="make -C ..."
alias m.c....="make -C ...."
alias m.c.....="make -C ....."

alias m.jc='make -j -C .'
alias m.jc.="make -j -C .."
alias m.jc..="make -j -C .."
alias m.jc...="make -j -C ..."
alias m.jc....="make -j -C ...."
alias m.jc.....="make -j -C ....."


alias m.cl='make clean'
alias mcl='make clean'
alias m.cll='make cleanall'
alias m.cla='make cleanall'
alias m.w='make view'
alias mw='make view'

alias cm='cmake . && clear && make -j 4'

alias sm='snakemake -p --cores all'
alias sm.j='snakemake -p --cores 4242'
alias sm.n='snakemake -n -p --cores all'
alias sm.d='snakemake -n -p --cores all --debug-dag'


#########
# SLURM #
#########

alias s.j='squeue -u $USER -o "%.9i %.10P %.40j %.10u %.4t %.8M %.6D %.10R" | column -t'
alias s.jj='while true; do clear; s.j; sleep 1; done'
alias s.jr='squeue -u $USER -t RUNNING'
alias s.jp='squeue -u $USER -t PENDING'
alias s.fairshare='sshare -u $USER -U'
alias s.sprio='sprio -l -u $USER'
alias s.details='scontrol show jobid -dd'
s.i () {
	for x in "$@"; do
		sacct -j "$i" \
			--format JobId,NNodes,Partition,NCPUs,State,ReqMem,MaxRSS,Elapsed,CPUTime,TimeLimit,ExitCode,Start,End
	done
}
alias s.k='scancel'


#######
# PDF #
#######

alias pdf.merge='pdfunite'
alias pdf.exif_delete_metadata='exiftool -all=""'


##########
# PYTHON #
##########

alias jp='jupyter lab'
alias py3='ipython --no-confirm-exit || /usr/bin/env python3 -i -c "import re;import os;import sys;import math;import glob;import collections;import itertools;"'
alias p3timeit='python -m timeit'


#####
# R #
#####

alias R="R --no-save"


#########
# DATES #
#########

alias date.date='date "+%Y-%m-%d"'
alias date.datetime='date "+%Y-%m-%d_%H_%M_%S"'



########
# MISC #
########

alias C='C_'
#alias tarcat='tar -xOvf' #a separate command new, with a support for multiple arguments
alias les='less -S'
alias L='less -S'
alias table="column -t -s '	'"
function tableL {
	column -t -s '	' $1 | less -S
}
alias tL='tableL'
alias tl='tableL'
alias pe='perl -pe'
alias path='echo $PATH | perl -pe "s/:/\n/g"'
alias cx='chmod +x'
alias yi='yapf -i'
#alias tm='srun --pty tmux attach-session || tmux attach-session || tmux'
alias tm='tmux attach-session || tmux'


function w {
	t=$(type "$1" 2>/dev/null || true)
	w=$(which "$1" 2>/dev/null || true)
	if [[ ! -z "$t" ]]; then
		echo "type:  $t"
	fi
	if [[ ! -z "$w" ]]; then
		echo "where: $w"
		echo "$w" | pbcopy || true
	fi
}


###############
# OS-SPECIFIC #
###############

if [[ $(uname) == 'Darwin' ]]; then
	alias rstudio='open -a "Rstudio"'
	alias rproj='open -a "Rstudio" *.Rproj'
	alias figtree='open -a "FigTree"'
	alias gvim='macvim'
	alias acrobat='open -a "Adobe Acrobat"'
	alias illustrator='open -a "Adobe Illustrator"'
	alias photoshop='open -a /Applications/Adobe\ Photoshop*/*.app/'
	alias vlc='open -a "VLC"'
	alias macvim='open -a MacVim '
	alias vscode='open -a "Visual Studio Code"'
	alias excel='open -a "Microsoft Excel"'
	alias word='open -a "Microsoft Word"'
	alias ww='open -a Preview'
	alias texstudio='open -a TexStudio *.txss2 || open -a TexStudio'
elif [[ `uname` == 'Linux' ]]; then
	alias open='gnome-open'
fi
