####################
# CHANGE DIRECTORY #
####################

alias b='cd -'
alias cd-='cd -'
alias cd..='cd ..'

alias cd...='cd ../..'
alias cd....='cd ../../..'
alias cd.....='cd ../../../..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias cf='cd `ls -d */ | head -n 1`'
alias cl='cd `ls -d */ | tail -n 1`'

alias cdb='cd ~/bin'
alias cdd='cd ~/downloads || cd ~/Downloads'
alias cdx='cd ~/Dropbox'
alias cdg='cd ~/*Google*/'
alias cdo='cd ~/OneDrive/'
alias cde='cd ~/Desktop'

alias cg='cd ~/github'
alias cgc='cd ~/github/c2-d2'
alias cgb='cd ~/github/my/bin'
alias cgm='cd ~/github/my'
alias cgp='cd ~/github/my/projects'
alias cgpb='cd ~/github/my/projects/bin'
alias cgpp='cd ~/github/my/prophyle'
alias cgr='cd ~/github/my/rase*'

alias ct='cd /tmp'
alias ctt='t=`date +%Y%m%d%H%M%S` && mkdir /tmp/$t && cd /tmp/$t'

############
# CALENDAR #
############

# see https://github.com/insanum/gcalcli

alias cal='open https://calendar.google.com/calendar/render#main_7'
alias calm='gcalcli calm -w 15 --monday'
alias calw='gcalcli calw -w 15 --monday'
alias cald='gcalcli agenda -w 15 --monday `gdate "+%Y-%m-%d"` `gdate --date="tomorrow" "+%Y-%m-%d"`'


############
# MAKE DIR #
############

alias md='mkdir -p'
alias rd='rmdir'

mcd () {
	mkdir -p $1
	cd $1
}

alias cdm='mcd'


##################
# CONDA & PYTHON #
##################

alias sa='source activate'
alias sd='source deactivate'
alias sl='conda info --envs'

alias piu='pip install --upgrade'
alias piu.='pip install --upgrade .'
alias piu..='pip install --upgrade ..'
alias piu...='pip install --upgrade ../..'
alias piu....='pip install --upgrade ../../..'
alias pu='pip uninstall'


###############
# EDIT & OPEN #
###############

alias e='subl'
alias en='subl -n'
alias e.='subl .'
alias en.='subl -n .'
alias edit='subl'

alias o='open'
alias o.='open .'
alias of='open "`ls | head -n 1`"'
alias ol='open "`ls | tail -n 1`"'


###############
# FIND & GREP #
###############

alias f='find'
alias f.='find .'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias grepi='grep --color=auto -i'


#########
# SHELL #
#########

alias r='echo $?'
alias psk='ps aux | grep "^$USER"'
alias cpa='cp -av'
alias h='hostname'
alias p='pwd'
alias t='touch'
alias dfh='df -h'
alias dush='du -sh'
alias wcl='wc -l'
alias x='xargs'


##################
# BIOINFORMATICS #
##################

alias sv='samtools view'
alias phd='open http://brinda.cz/publications/brinda_phd.pdf'


####################
# MAKE & SNAKEMAKE #
####################

alias m='make V=1'
alias mj='make V=1 -j'
alias mC='make -C'
alias mjC='make -j -C'
alias mcl='make clean'
alias cm='cmake . && clear && make -j 4'
alias sm='snakemake -p'
alias smj='snakemake -p --cores 4242'


#######
# PDF #
#######

alias pdf_merge='pdfunite'
alias briss='java -jar ~/bin/programs/briss-0.9/briss-0.9.jar'
alias exif_delete_metadata='exiftool -all=""'


########
# MISC #
########

alias ggdb='sudo gdb --args'
alias u='_update_all'
alias pe='perl -pe'
alias md2html='markdown_py'
alias p3='/usr/bin/env python3'
alias pdflatexmk='latexmk -pdf'
