# cd

alias cd-='cd -'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cd....='cd ../../..'
alias cd.....='cd ../../../..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias b='cd -'

alias cg='cd ~/github'
alias cgc='cd ~/github/c2-d2'
alias cgb='cd ~/github/my/bin'
alias cgm='cd ~/github/my'
alias cgp='cd ~/github/my/projects'
alias cgpp='cd ~/github/my/prophyle'

alias cdb='cd ~/bin'
alias cde='cd ~/Desktop'
alias cdr='cd ~/github/my/rase'
alias cdd='cd ~/downloads || cd ~/Downloads'
alias cdx='cd ~/Dropbox'
alias cdg='cd ~/*Google*/'
alias ct='cd /tmp'
alias ctt='t=`date +%Y%m%d%H%M%S` && mkdir /tmp/$t && cd /tmp/$t'

alias md='mkdir'

mcd () {
	mkdir -p $1
	cd $1
}

#
alias sa='source activate'
alias sd='source deactivate'
alias sl='conda info --envs'

# misc

alias ggdb='sudo gdb --args'
alias psk='ps aux | grep "^$USER"'
alias u='_update_all'
alias perlsed='perl -pe'
alias md2html='markdown_py'
alias cpa='cp -av'
alias e='subl'
alias en='subl -n'
alias e.='subl .'
alias en.='subl -n .'
alias edit='subl'
alias o='open'
alias o.='open .'
alias p='pwd'
alias t='touch'
alias dfh='df -h'
alias dush='du -sh'
alias wcl='wc -l'
alias briss='java -jar ~/bin/programs/briss-0.9/briss-0.9.jar'
alias exif_delete_metadata='exiftool -all=""'

alias r='echo $?'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias grepi='grep --color=auto -i'
#alias ffgrep='c && find . -type f -exec xargs grep --color {} \;'

alias c='clear'

alias phd='open http://brinda.cz/publications/brinda_phd.pdf'


# samtools

alias sv='samtools view'


# makes

alias m='make V=1'
alias mj='make V=1 -j'
alias mC='make -C'
alias mjC='make -j -C'
alias mcl='make clean'
alias cm='cmake . && clear && make -j 4'
alias sm='snakemake -p'
alias smj='snakemake -p --cores 4242'

# pip

alias piu='pip install --upgrade'
alias piu.='pip install --upgrade .'

# pdf

alias pdf_merge='pdfunite'
