[user]
	email = karel.brinda@gmail.com
	name = Karel Břinda

[core]
	#pager = less -F
	pager =  less -+F -+X


	# do not quote non-ascii characters; display unicodes as-is
	quotepath = false
	excludesfile = ~/bin/git/.gitignore
	editor = vim -u ~/bin/.vimrc.light -U NONE -N -i NONE
	autocrlf = input
	whitespace = cr-at-eol
	#excludesfile = /bin/.gitignore

[alias]
	wdiff = diff --color-words
	wshow = show --color-words
	g = grep --break --heading --line-number

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	ui = auto

[diff]
	# --no-prefix (for git diff, git show) such as 'a/' 'b/' blah
	noprefix = true

	# Detect copies as well as renames
	renames = copies

	# smarter diff on splits around blank lines (Git 2.9.0+)
	compactionHeuristic = true

[diff "pandoc"]
	textconv=pandoc --to=markdown
	prompt = false

[diff "xlsx42tsv"]
	textconv=xlsx42tsv
	prompt = false

[diff "pdf42txt"]
	textconv = pdf42txt
	binary = true

[merge]
	conflictstyle = diff3

[format]
	pretty = fuller

[branch]
	# Make all new branches to automatically use rebase rather than merge, on pull
	autosetuprebase = always

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	default = simple
	autoSetupRemote = true

[grep]
	extendRegexp = true
	lineNumber = true
[pull]
	ff = only
[init]
	defaultBranch = main
[safe]
	directory = /projects/barde/barde-project
