[submodule "vim-sensible"]
	path = vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bash-sensible"]
	path = bash-sensible
	url = https://github.com/mrzool/bash-sensible
[submodule "tabulator"]
	path = tabulator
	url = https://github.com/stefan-schroedl/tabulator
