[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".vim/badwolf"]
	path = .vim/badwolf
	url = git://github.com/sjl/badwolf/
