#! /usr/bin/env bash

alias sv='samtools view'
alias svb='samtools view -b'
alias svh='samtools view -h'
alias svH='samtools view -H'
alias fai='samtools faidx'
alias bai='samtools index'
alias phd='open ~/github/my/brinda.cz/publications/brinda_phd.pdf || open http://brinda.cz/publications/brinda_phd.pdf'
alias ggh='grep ">"'

# simplified SAM output (seqs, bases and cigars skipped)
alias sX='cut -f1-5,7-9,12-'
alias sXL='cut -f1-5,7-9,12- | less -R'

